
@font-face{
    font-family: best;
    src: url('../fonts/best.ttf');
  }
  body{
font-family: best;
    background:#273746
    /* background: linear-gradient(to right, red 34%, blue 65%); */
}
.small{
  font-size: 12px !important;
}
.icon_circle{
  height: 40px;
  width: 40px;
  padding-top: 10px;
  /* margin: 2px; */
  background-color: #273746;
  border-radius: 50px;
}
.label_text{
  color: #adaaa1 !important;
  font-size: 17px;
  margin: 0;
  /* text-align: center; */
  -webkit-transition: font-size .5s ease;
  -moz-transition: font-size .5s ease;
  -o-transition: font-size .5s ease;
  transition: font-size .5s ease;
}
.label_text:hover{
  color:#ECF0F1 !important;
  font-size: 21px !important;

  /* font-size: 1.5em; */

}
.title_{
  color: #adaaa1 !important;
  font-size: 15px;
  margin: 0;
  /* text-align: center; */
  -webkit-transition: font-size .5s ease;
  -moz-transition: font-size .5s ease;
  -o-transition: font-size .5s ease;
  transition: font-size .5s ease;
  /* transition: */
}
.title_:hover{
  color:#ECF0F1 !important;
  font-size: 21px !important;

  /* font-size: 1.5em; */

}
.text_color{
  color: #adaaa1 !important;
  font-size: 12px;
  margin: 0;
  /* text-align: center; */
  -webkit-transition: font-size .5s ease;
  -moz-transition: font-size .5s ease;
  -o-transition: font-size .5s ease;
  transition: font-size .5s ease;
}
.text_color:hover{
  color:#ECF0F1 !important;
  font-size: 19px !important;

  font-size: 1.5em;

}
.rating_big {
  height: 15px;

}
.rating{
  height: 10px;

}
.text_description{
  color: #DAE3E5;
}
.button_icon{
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: #BDC3C4;
  transform: scale(0.7);

}
.button_icon:hover{
   transform: scale(1);
  color: white; 
  /* animation: buttons_hover 2s ease ; */
}
.button_icon:active{
  /* transform: scale(1);
  color: white; */
  animation: buttons_focus 0.2s ease ;
}


@keyframes buttons_hover {
 /* 0%{transform: scale(0);} 
 30%{transform:scale(0.3);}
 40%{transform:scale(0.4);}
 50%{transform:scale(0.5);}
 60%{transform:scale(0.6);}
 70%{transform:scale(0.7);}
 80%{transform:scale(0.8);}
 90%{transform:scale(0.9);} */
 100%{transform:rotate(-270deg)}

}

.poster:hover{

  /* transform: scale(0.8);
   */
  
animation: poster_hover 5s ease infinite;
}
@keyframes buttons_focus {
  20%{transform: scale(2);} 
  40%{transform: scale(4);} 
  60%{transform: scale(6);} 
  80%{transform: scale(8);} 
  100%{transform: scale(10);} 



  /* 30%{transform:translateX(20px);} */
 
 
 }
 @keyframes poster_hover {
  10%{transform: scale(0.9);} 
  20%{transform: scale(0.8);} 
  30%{transform: scale(0.7);} 
  40%{transform: scale(0.6);}
  50%{transform: scale(0.5);} 
  60%{transform: scale(0.6);} 
  70%{transform: scale(0.7);} 
  80%{transform: scale(0.8);} 
  90%{transform: scale(0.9);} 
  100%{transform: scale(1);} 



  /* 30%{transform:translateX(20px);} */
 
 
 }

.youtube{
  height: 30px;
  width: 45px;
  color: #f39c12 !important;


}
.chiselled{
    background: #273746;
    /* border: 1px solid #ccc; */
    /* padding: 10px 30px; */
    border-radius: 3px;
    border: none;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
    color: #adaaa1;
    box-shadow: #1c2833 0px 30px 60px -12px inset,black 0px 18px 36px -18px inset;
  }
  
  .chiselled:focus {
    background: #e5e5e5;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
  }
